@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #303030;
    --foreground: #FFFFFF;
    
    --card: #222222;
    --card-foreground: 0 0% 100%;
    
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 100%;
    
    --primary: 74 52% 51%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 0 0% 19%;
    --muted-foreground: 215 20.2% 65.1%;
    
    --accent: 0 0% 19%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: #808080;
    --destructive-foreground: 210 40% 98%;
    
    --border: 0 0% 19%;
    --input: 0 0% 19%;
    --ring: 74 52% 51%;
    
    --radius: 0.5rem;

  }
}
/* max-w-[1440px] mx-auto */
@layer base {
  body {
    @apply bg-background text-foreground max-w-screen-2xl mx-auto;
    font-family: "Sofia Sans", sans-serif;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--destructive) var(--background) ;
  }
  
  *::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background: var(--background);
  }
  

  .sidebar {
    @apply border-r border-[red];
  }

  .main-content {
    @apply bg-background;
  }

  .scorecard:last-child {
    @apply rounded-b-2xl
  }

  .card {
    @apply bg-card text-card-foreground rounded-lg border;
  }

  .active-menu-tab::before {
    @apply content-[''] w-1 h-full bg-primary absolute left-0 top-0 rounded-r-2xl;
    }
}
